*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
header{
    font-size: 80px;
    font-weight: 700;
    color : rgb(40,40,0);
    text-align: center;
    padding-top: 10px;
}
.twoContainer{
    display: flex;
    justify-content: space-around;
    
}
.rightContainer{
    width:600px;
    height:600px;
    border: 1px solid black;

}
.grid{
    display: inline-block;
    border: 1px solid black;
}
.small{
    height: 2%;
    width: 2%;
}